@font-face {
    font-family: "EduTASBeginner";
    src: url("../font/EduTASBeginner-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Kalam";
    src: url("../font/Kalam-Regular.ttf");
}
@font-face {
    font-family: "JainiPurva";
    src: url("../font/JainiPurva-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav part */
a{
    text-decoration: none;
    font-size: 23px;
    color: #a78b02;
    font-family: "Kalam";
}
.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    height: 100px;
    background-color: #1b051b;
}
.logo_text{
    font-size: 27px;
    color: #917901;
    font-family: "JainiPurva";
    text-shadow: 2px 3px 3px #806b06;
}
.logopart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.limg_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 95px;
    border-radius: 0px 50px 0px 50px;
    border: 2px solid rgb(202, 173, 6);
}

.toggler{
    font-size: 30px;
    color: #a78b02;
    display: none;
}
.navlist ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist ul li{
    list-style: none;
    margin-right: 30px;
}
.active{
    color: #cc062b;
}
.active:hover{
    color: #f7d1d8;
    text-shadow: 5px 3px 3px #f7d1d8;
}
.navlist ul li:hover{
    text-shadow: 5px 3px 3px #a78b02;
}

/* end */

/* team part */
.main_team{
    padding: 50px 100px;
    background-color: #300630;
}
.team_text{
    text-align: center;
    margin-bottom: 30px;
}
.team_text h2{
    font-family: "EduTASBeginner";
    font-size: 60px;
    font-weight: 300;
    color: #917901;
}
.team_img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.team1 img{
    width: 500px;
    height: 400px;
    border-radius: 20px;
}
.team1 img:hover{
    transform: scale(0.8) rotate(360deg);
    transition: all 0.5s ease-in-out ;
    box-shadow: 42px 32px 75px #df92df;
}
.low_team h3{
    font-family: "EduTASBeginner";
    font-size: 40px; 
    font-weight: 200;
    color: #f1e086;
}
.low_team p{
    font-size: 20px;
    font-family: "Kalam";
    font-weight: 200;
    color: #fadb40;
}
#lteam{
    font-weight: 500;
    font-size: 30px;    
}
/* end */

/* footer part */
p{
    font-size: 30px;
    color: #faedaf;
    font-weight: 300;
    font-family: "Poppins";
}
.footer{
    padding: 10px 100px;
    text-align: center;
    background-color: rgb(37, 35, 35);
}
/* end */
@media screen and (max-width:1199px) {
    /* nav part */
    .mainnav{
        padding: 10px 90px; 
    }
    .logo img{
        width: 70px;
        border: 1px solid rgb(202, 173, 6);
        border-radius: 0px 40px 0px 40px;
    }
    .logo_text{
        font-size: 20px; 
    }
    a{
        font-size: 17px;
    }
    .navlist ul li{
        width: 60px;
        height: 60px;
        margin: 0px 5px;
    }
    /* end */

    /* team part */
    .main_team{
        padding: 40px 90px;
    }
    .team_text{
        margin-bottom: 20px;
    }
    .team_text h2{
        font-size: 60px;
    }
    .team_img{
        margin-bottom: 20px;
    }
    .team1 img{
        width: 400px;
        height: 300px;
    }
    .low_team h3{
        font-size: 30px;
    }
    .low_team p{
        font-size: 15px;
    }
    #lteam{
        font-size: 25px;    
    }
    /* end */

    /* footer part */
    .footer{
        padding: 10px 70px;
    }
    /* end */
}
@media screen and (max-width:991px) {
    /* nav part */
    .mainnav{
        padding: 10px 70px; 
    }
    .logo img{
        width: 60px;
        border-radius: 0px 30px 0px 30px;
    }
    .logo_text{
        font-size: 20px; 
        margin: 0px;
    }
    a{
        font-size: 15px;
    }
    .navlist ul{
       margin-bottom: 16px;
        padding: 0;
    }
    .navlist ul li{
        margin: 0px 5px;
        width: 40px;
        height: 40px;
    }
    /* end */

    /* team part */
    .main_team{
        padding: 40px 70px;
    }
    .team_text{
        margin-bottom: 17px;
    }
    .team_text h2{
        font-size: 40px;
    }
    .team_img{
        margin-bottom: 17px;
    }
    .team1 img{
        width: 300px;
        height: 200px;
    }
    .low_team h3{
        font-size: 20px;
    }
    .low_team p{
        font-size: 10px;
    }
    #lteam{
        font-size: 15px; 
        font-weight: 600;   
    }
    /* end */

    /* footer part */
    .footer{
        padding: 10px 60px;
    }
    .footer p{
        font-size: 20px;
    }
    /* end */
}
@media screen and (max-width:767px) {
    /* nav part */
    .mainnav{
        padding: 10px 50px;
        flex-direction: column;
        align-items: center; 
        height: auto;
    }
    .logo img{
        width: 50px;
        border-radius: 0px 20px 0px 20px;
    }
    .logo_text{
        font-size: 13px;
    }
    a{
        font-size: 25px;
    }
    .navlist ul li{
        margin: 0px 25px;    
    }
    .navlist{
        display: none;
    }
    .logopart{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .logo img{
        width: 90px;
        border-radius: 0px 40px 0px 40px;
    }
    .logo_text{
        font-size: 30px; 
    }
    .toggler{
        display: block;
    }
    .toggler:hover{
        color: #8b7505;
        text-shadow: 2px 2px 2px rgb(26, 1, 1);
    }
    /* end */

    /* team part */
    .main_team{
        padding: 30px 50px;
    }
    .team_text{
        margin-bottom: 15px;
    }
    .team_text h2{
        font-size: 30px;
    }
    .team_img{
        margin-bottom: 15px;
    }
    .team1 img{
        width: 200px;
        height: 150px;
    }
    .low_team h3{
        font-size: 19px;
    }
    .low_team p{
        font-size: 10px;
    }
    #lteam{
        font-size: 13px; 
        font-weight: 600;  
    }
    /* end */

    /* footer part */
    .footer{
        padding: 10px 50px;
    }
    .footer p{
        font-size: 20px;
    }
    /* end */
}
@media screen and (max-width:575px) {
    /* nav part */
    .logo img{
        width: 45px;
        border-radius: 0px 20px 0px 20px; 
    }
    .logo_text{
        font-size: 16px;
    }
    .toggler{
        font-size: 20px;
    }
    .navlist ul{
        flex-direction: column;
    }
    a{
        font-size: 17px;
    }
    /* end */

    /* team part */
    .main_team{
        padding: 30px 50px;
    }
    .team_text{
        margin-bottom: 15px;
    }
    .team_text h2{
        font-size: 30px;
    }
    .team_img{
        margin-bottom: 15px;
    }
    .team1 img{
        width: 100px;
        height: 100px;
    }
    .low_team h3{
        font-size: 10px;
    }
    .low_team p{
        font-size: 8px;
    }
    #lteam{
        font-size: 10px; 
        font-weight: 600;  
    }
    /* end */

    /* footer part */
    .footer{
        padding: 10px 40px;
    }
    .footer p{
        font-size: 11px;
    }
    /* end */
}